name: Test

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Testing the action
        id: test
        uses: trainingspaces/semver@v0.0.10

      - name: Output
        env:
          TAG: ${{ steps.test.outputs.version }}
        run: |
          git tag -a -m "auto tag $TAG" "v$TAG"
          git push origin --tags
        